@model MediaShopLibary.DVD

<table>
    <tr>
        <td>@Model.id</td>
        <td>@Model.title</td>
        <td>@Model.director</td>
        <td>@Model.price</td>
        <td>@Model.quantity</td>
    </tr>
</table>
